RECODE_HTTP_ADDRESS=:8080
RECODE_SHUTDOWN_TIMEOUT=10s
RECODE_DATABASE_URL=postgres://recode:recode_dev@localhost:5433/recode?sslmode=disable
RECODE_REDIS_ADDRESS=localhost:6379
RECODE_QUEUE_NAME=recode:jobs
RECODE_STORAGE_ROOT=./data
RECODE_UPLOAD_MAX_BYTES=1073741824
RECODE_RESULT_RETENTION=2h
RECODE_FFMPEG_PATH=ffmpeg
RECODE_FFPROBE_PATH=ffprobe
